{% extends 'base.html.twig' %}

{% block title %}Lista Pedidos{% endblock %}

{% block body %}
    <table class="table table-striped">
    <thead>
    <tr>
    <th>#</th>
    <th>Pedido</th>
    <th>Cliente</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
    <tr>
    <td>{{ order.id }}</td>
    <td>{{ order.getProductName }}</td>
    <td>{{ order.getCustomer.name }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}



