<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('sac_index') }}">SAC</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="{% if app.request.get('_route') == 'sac_new' %}active{% endif %}"><a href="{{ path('sac_new') }}">Criar chamado</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'sac_list' %}active{% endif %}"><a href="{{ path('sac_list') }}">Listar chamados</a></li>
                <li class="{% if app.request.attributes.get('_route') starts with 'customer' %}active{% endif %}"><a href="{{ path('customer_list') }}">Listar clientes</a></li>
                <li class="{% if app.request.attributes.get('_route') starts with 'order' %}active{% endif %}"><a href="{{ path('order_list') }}">Listar pedidos</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        <div class="container">{% block body %}{% endblock %}</div>
        {% block javascripts %}{% endblock %}

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>

</html>
