{% extends 'base.html.twig' %}

{% block title %}Relatório{% endblock %}

{% block body %}

<div class="container ">
          <h2 class="page-header">Relatório</h2>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <button type="button" class="btn btn-primary">Chamados <span class="badge">{{ report.sac }}</span></button>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <button type="button" class="btn btn-primary">Clientes <span class="badge">{{ report.customer }}</span></button>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <button type="button" class="btn btn-primary">Pedidos <span class="badge">{{ report.order }}</span></button>
            </div>
          </div>
</div>

{% endblock %}
