{% extends 'base.html.twig' %}

{% block title %}Lista Chamados{% endblock %}

{% block body %}
    {# flash message #}
    {% for type, flash_messages in app.session.flashBag.all %}
        {% for flash_message in flash_messages %}
            <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div>
    <form method="get" action="{{ path('sac_search') }}" class="form-inline">
    <div class="form-group">
    <input type="text" name="term" class="form-control" placeholder="">
    <select name="option" class="form-control">
    <option value="email">Email</option>
    <option value="order">No pedido</option>
    </select>
    <input type="submit" value="filtrar" class="btn btn-primary">
    </div>
    </form>
    </div>
    <hr>
    <table class="table table-striped">
    <thead>
    <tr>
    <th>#</th>
    <th>Titulo</th>
    <th>Cliente</th>
    <th>Email</th>
    <th>Pedido</th>
    </tr>
    </thead>
    <tbody>
    {% for sac in pagination %}
    <tr>
    <td>{{ sac.id }}</td>
    <td>{{ sac.title }}</td>
    <td>{{ sac.getCustomer.name }}</td>
    <td>{{ sac.getCustomer.email }}</td>
    <td>{{ sac.getOrder.id }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {# display navigation #}
    <div class="navigation knp-trans">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(function() {
    $('.knp-trans ul li').each(function(index) {
        $('*:contains("label_previous")').each(function(){
            if($(this).children().length < 1){
                $(this).text('Anterior');
            }
        });
        $('*:contains("label_next")').each(function(){
            if($(this).children().length < 1){
                $(this).text('Próxima');
            }
        });
    });
});
</script>
{% endblock %}
