{% extends 'base.html.twig' %}

{% block title %}Lista clientes{% endblock %}

{% block body %}
    <table class="table table-striped">
    <thead>
    <tr>
    <th>#</th>
    <th>Nome</th>
    <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {% for customer in customers %}
    <tr>
    <td>{{ customer.id }}</td>
    <td>{{ customer.name }}</td>
    <td>{{ customer.email }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}



